@keyframes appearing {
    0% {
        max-height: 0px;
        margin-right: 100%;
    }
    100% {
        max-height: 90px;
        margin-right: 0%;
    }
}

@keyframes disappearing {
    0% {
        max-height: 90px;
    }
    20% {
        max-height: 90px;
        background-color: rgba(255, 0, 0, 0.25);
    }
    100% {
        max-height: 0px;
        margin-left: 100%;
        margin-right: -100%;
        background-color: rgba(255, 0, 0, 1);
    }
}

.todoItemCard {
    /* background-color: green; */
    max-height:90px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 1em;
}

.todoItemCard[animation="0"] {
    animation: appearing 1s forwards
}

.todoItemCard[animation="1"] {
    animation: disappearing 1s forwards
}

.todoItemCard.anim1 {
    transition: 3s;
    max-height: 500px;
}

.todoItemCard.anim2 {
    transition: 1s;
    max-height: 0px;
}